@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
}

ul {
  list-style-type: disc; /* Ensure bullets show */
  margin-left: 1rem;
}

.ProseMirror a {
  color: rgb(82, 82, 248);
  text-decoration: underline;
  cursor: pointer;
}


.ProseMirror:focus {
  outline: none !important;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */

  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #bbbbbb; /* Scroll thumb color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0; /* Scroll thumb color on hover */
  }
  